<html>
  <head>
    <title>Liste des potins</title>
  </head>
  <body>
    <h1>Liste des potins</h1>
    <ul>
      <% @gossips.each_with_index do |gossip, index| %>
      </br>
        <li>
          <a href="/gossips/<%= index + 1 %>/">Potin n°<%= index + 1 %></a>
          - Auteur : <%= gossip.author %>
          </br>
          - <%= gossip.content %>
        </li>
      <% end %>
    </ul>
    <a href="/gossips/new/">Créer un nouveau potin</a>
  </body>
</html>
